.product {
    box-shadow: 2px 5px 10px #555;
    margin: 20px;
    display: grid;
    padding: 10px;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr;
}


.product-details {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.product-description {
    text-transform: uppercase;
    font-size: larger;
}

.product-brand {
    font-size: medium;
}

.product-price {
    font-size: large;
    font-weight: bold;
}

.product-actions {
    text-align: right;
    grid-column: 2;
}

.btn-buy {
    background-color: var(--primary);
    border: none;
    outline: none;
    box-shadow: 2px 5px 10px #555;
    color: var(--white);
    padding: 10px;
    margin-right: 10px;
}