@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
    --primary: #0071dc;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica;
}